---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="mx-auto md:max-w-3xl w-full px-10">

      <!-- Introduction Section -->
      <section class="mb-8">
          <h1 class="text-4xl font-bold mb-4">Hello World! 👋</h1>
          <p>Welcome to my site !<br /> I'm Lorenzo, a
              self-taught frontend and backend developer with a passion for crafting exceptional digital experiences.</p>
      </section>

      <!-- The Tech Odyssey Section -->
      <section class="mb-8">
          <h2 class="text-2xl font-bold mb-4">The Tech Odyssey...</h2>
          <p>My coding odyssey began with the enchanting world of JavaScript, where I discovered the art of bringing static web
              pages to life. As I delved deeper, TypeScript became my trusted ally, adding a layer of sophistication to my
              projects...</p>
      </section>

      <!-- A Backend Maestro Section -->
      <section class="mb-8">
          <h2 class="text-2xl font-bold mb-4">A Backend Maestro...</h2>
          <p>Beyond the realm of frontend magic, I embraced the backend landscape with open arms. Python captured my
              imagination, and the Django framework became my weapon of choice for building robust, scalable, and secure web
              applications...</p>
      </section>

      <!-- Unleashing the Power of D3 Section -->
      <section>
          <h2 class="text-2xl font-bold mb-4">Unleashing the Power of D3...</h2>
          <p>Data visualization is an art, and D3.js is my paintbrush. From dynamic charts to interactive graphs, I harness
              the power of D3 to transform data into compelling visual narratives. It's not just about displaying
              information; it's about telling stories that resonate with users...</p>
      </section>

  </div>
</main>
</Layout>

<style is:global>
  body {
    background-image: linear-gradient(#e0e0f4 1px, transparent 1px),
      linear-gradient(to right, #e0e0f4 1px, transparent 1px);
    background-size: 35px 35px;
    background-color: #fff;
  }

  .clip-path {
    clip-path: circle(50% at 50% 50%);
    width: 100%;
    height: auto;
  }
</style>
